@tailwind base;
@tailwind components;
@tailwind utilities;

.purple-60 {
  color: #703bf7;
}
.purple-65 {
  color: #8254f8;
}
.purple-70 {
  color: #946cf9;
}
.purple-75 {
  color: #a685fa;
}
.purple-90 {
  color: #dbcefd;
}
.purple-95 {
  color: #a685fa;
}

.purple-97 {
  color: #f4f0fe;
}

.purple-99 {
  color: #fbfaff;
}

.white-90 {
  color: #e4e4e7;
}

.white-95 {
  color: #f1f1f3;
}

.white-97 {
  color: #f7f7f8;
}

.white-99 {
  color: #fcfcfd;
}

.gray-10 {
  color: #1a1a1a;
}

.gray-15 {
  color: #262626;
}

.gray-20 {
  color: #333333;
}

.gray-30 {
  color: #4d4d4d;
}

.gray-40 {
  color: #666666;
}

.gray-50 {
  color: #808080;
}

.gray-60 {
  color: #999999;
}

.absolute-white {
  color: #ffffff;
}

.absolute-black {
  color: #000000;
}
.absolute-gray {
  color: #999999;
}

body {
  font-family: "Urbanist", "sans-serif";
}

.inset-left {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

.inset-top-center {
  position: absolute;
  top: 30%;
  right: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}
.inset-center {
  position: absolute;
  top: 50%;
  right: 50%;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
}

.inset-bottom-center {
  position: absolute;
  bottom: -15%;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (min-width: 768px) {
  .inset-bottom-center {
    bottom: -25%;
  }
}

@media only screen and (min-width: 1024px) {
  .inset-bottom-center {
    bottom: -25%;
  }
}

.shadow-effect {
  box-shadow: 0px 0px 0px 6px rgba(25, 25, 25, 1);
  -webkit-box-shadow: 0px 0px 0px 6px rgba(25, 25, 25, 1);
  -moz-box-shadow: 0px 0px 0px 6px rgba(25, 25, 25, 1);
}
